어플리케이션[[:space:]]누적광량[[:space:]]화면.jpg filter=lfs diff=lfs merge=lfs -text
어플리케이션[[:space:]]데이터[[:space:]]리스트[[:space:]]화면.jpg filter=lfs diff=lfs merge=lfs -text
조감도 filter=lfs diff=lfs merge=lfs -text
Co2[[:space:]]발생기[[:space:]]제어.mp4 filter=lfs diff=lfs merge=lfs -text
스마트팜[[:space:]]반사판[[:space:]]동작영상.mp4 filter=lfs diff=lfs merge=lfs -text
어플리케이션[[:space:]]그래프[[:space:]]화면.jpg filter=lfs diff=lfs merge=lfs -text
어플리케이션[[:space:]]메인화면.jpg filter=lfs diff=lfs merge=lfs -text
어플리케이션[[:space:]]제어[[:space:]]기준치[[:space:]]화면.jpg filter=lfs diff=lfs merge=lfs -text
환풍기를[[:space:]]통한[[:space:]]온도[[:space:]]제어.mp4 filter=lfs diff=lfs merge=lfs -text
농장[[:space:]]내부.jpg filter=lfs diff=lfs merge=lfs -text
반사판회전.gif filter=lfs diff=lfs merge=lfs -text
